.card-size {
    padding: 1rem 2rem;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
    .card-btn {
        font-size: 10px;
        font-weight: 600;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        background: #19547b;
        color: #e2be91;
        cursor: pointer;
        line-height: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 767.98px) {
    .link-part {
        flex-wrap: wrap;
        gap: 10px;
    }
}