.card-size{
    padding: 1rem 2rem;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) { 
    .card-btn{ 
        font-size: 10px;
        font-weight: 600;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        background: #0b2154;
        color:#F2911B;
        cursor: pointer;
        line-height: 30px;
        padding-left: 15px;
        padding-right: 15px;
      }
 }