.card-size {
    padding: 1rem 2rem;
}

.show-more-btn {
    /* margin-top: 1rem; */
}
.projects-text{
    color: #fff;
}
.projects-tag {
    color: #b2f0d3;
}


@media (max-width: 767.98px) {
    .card-btn {
        font-size: 10px;
        font-weight: 600;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        background: #b2f0d3;
        color: #000;
        cursor: pointer;
        line-height: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 767.98px) {
    .link-part {
        flex-wrap: wrap;
        gap: 10px;
    }
}