.page-heading h2{
    position: relative;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    color: #706fd3;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}


