ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

.education,
li p {
    color: #fff;
}

ul.timeline>li:before {
    content: ' ';
    background: #19547b;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #e2be91;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.resume-link a {
    text-decoration: none;
    color: #19547b;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.fontawesome-icon p {
    color: #dde7ee;
}