
.main-div{
    position: relative;
}
.social-part{
    position: absolute;
}
.social-part ul{
    list-style-type: none;
}
.social-part ul li{
    padding-top: 10px;
}
.my-logo {
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .my-logo {
      animation: my-logo-spin infinite 20s linear;
    }
  }
  
@keyframes my-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  



