
.main-div{
    position: relative;
}
.social-part{
    position: absolute;
}
.social-part ul{
    list-style-type: none;
}
.social-part ul li{
    padding-top: 30px;
    font-size: 20px;
    
}
.social-part ul li a{
  color: #F2911B;
}
.social-part ul li a:hover{
  color: #0d6efd;
}

.main-div{
  min-height: calc(100vh - 169px);
  min-height: -webkit-calc(100vh - 169px);
  min-height: -moz-calc(100vh - 169px);
}

/* .my-logo {
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .my-logo {
      animation: my-logo-spin infinite 20s linear;
    }
  }
  
@keyframes my-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

  



