.portfolio-form input {
    border: none;
    border-bottom: 2px solid #e2be91;
    border-radius: 0;
}

.portfolio-form textarea {
    border: none;
    border-bottom: 2px solid #e2be91;
    border-radius: 0;
}

.portfolio-form input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #e2be91;
    border-radius: 0;
}

.side-contact {
    box-sizing: border-box;
    width: 450px;
    height: 100px;
    border: 3px solid #e2be91;
}

.icon {
    font-size: 25px;
    color: #e2be91;

}

.contact-wrapper {
    margin-bottom: 3.3rem;
}

.get_in_touch {
    margin: 2rem 0 2rem 0;
}