
.portfolio-form input{
    border:none;
    border-bottom: 2px solid #706fd3;
    border-radius: 0;
}
.portfolio-form textarea{
    border:none;
    border-bottom: 2px solid #706fd3;
    border-radius: 0;
}
.portfolio-form input:focus{
    border:none;
    outline:none;
    border-bottom: 2px solid #706fd3;
    border-radius: 0;
}
.side-contact{
    box-sizing: border-box;
    width: 450px;
    height:100px;
    border: 3px solid #706fd3;
}
.icon-size{
    font-size: 40px;
}
