body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* CUSTOM CSS CODE */
*{
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section{
  margin-top: 30px;
}
.banner-heading{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight:700;
  color: #0b2154;
  text-transform: capitalize;
}
.page-heading{
  position: relative;
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
  color: #706fd3;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}

.all-heading, .name-heading{
  font-family: 'Playfair Display', serif;
  font-weight:600;
  color: #0b2154;
  font-size: 30px;
}
.sub-heading{
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  color:  #0b2154;
  font-size: 30px;
  word-spacing: 5px;
  text-transform: capitalize;
}
.paragraph-text{
  font-family: 'Poppins', sans-serif;
  font-weight:400;
  color: #5c5c6f;
  font-size: 13px;
}
.brand-btn{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #0b2154;
    border: 2px solid #706fd3;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.card-btn{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  /* position: relative; */
  text-align: center;
  color: #0b2154;
  border: 2px solid #706fd3;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
}


#typewritter-heading{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight:700;
  color: #0b2154;
  text-transform: capitalize;
}