
/* custom css code */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    /* background: #7a7061; */
    /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #000000, #333333, #555555);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #000000, #333333, #555555);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.section {
    margin-top: 30px;
}

.banner-heading {
    font-family: 'Cinzel', serif;
    font-size: 60px;
    font-weight: 900;
    color: #e2be91;
    text-transform: capitalize;
}

.page-heading {
    position: relative;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Cinzel', serif;
    color: #e2be91;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

.name-heading {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color: #e2be91;
    font-size: 30px;
}

/* .all-heading, */
.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #e2be91;
    font-size: 30px;
    word-spacing: 5px;
    text-transform: capitalize;
}

.paragraph-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #5c5c6f;
    font-size: 13px;
}

.card-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background: #19547b;
    color: #e2be91;
    cursor: pointer;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

/* .card-btn a :hover {
    color: #fff;
} */

.brand-btn {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #e2be91;
    border-radius: 5px;
    background: #19547b;
    cursor: pointer;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

a:hover {
    color: #fff;
}