.my-description {
    font-family: 'Poppins', sans-serif;
    font: size 16px;
    font-weight: 400;
    color: rgb(74, 69, 69);
    line-height: 1.7;
}

.my-description span {
    font-family: 'Poppins', sans-serif;
    font: size 16px;
    font-weight: 400;
    color: #19547b;
    line-height: 1.7;
}


@media(max-width: 575.98px) {
    .my-description span {
        color: #e2be91;
    }
}

.about-list li .title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font: size 16px;
    font-weight: 400;
    color: #19547b;
    font-weight: 600;
}

@media(max-width: 575.98px) {
    .about-list li .title {
        color: #000;
    }
}

.about-list li .value {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font: size 16px;
    font-weight: 400;
    color: rgb(74, 69, 69);
    font-weight: 400;
}

.image-card {
    /* width: 300px; */
    margin: auto;
    border: 5px solid #e2be91;
    padding: 5px;
    border-radius: 10px;
}

.wrap-skills {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;

}

.wrap-skills>div {
    margin: 6px;
}

@media(max-width: 575.98px) {
    .wrap-skills {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;


    }
}

/* d-flex flex-wrap justify-content-around align-content-stretch pb-5 */